<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>About</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:400,500">
    <link rel="stylesheet" href="css/style.css">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <div class="page"><a class="section section-banner d-none d-xl-block" href="https://www.templatemonster.com/intense-multipurpose-html-template.html" style="background-image: url(images/banner/background-04-1920x60.jpg); background-image: -webkit-image-set( url(images/banner/background-04-1920x60.jpg) 1x, url(images/banner/background-04-3840x120.jpg) 2x )"><img src="images/banner/foreground-04-1600x60.png" srcset="images/banner/foreground-04-1600x60.png 1x, images/banner/foreground-04-3200x120.png 2x" alt="" width="1600" height="310"></a>
      <header class="section page-header">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="170px" data-xl-stick-up-offset="170px" data-xxl-stick-up-offset="170px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            <div class="rd-navbar-aside-outer">
              <div class="rd-navbar-aside">
                <!--RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!--RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!--RD Navbar Brand-->
                  <div class="rd-navbar-brand">
                    <!--Brand--><a class="brand" href="index.html"><img class="brand-logo-dark" src="images/logo-default-672x102.png" alt="" width="336" height="51"/></a>
                  </div>
                </div>
                <div class="rd-navbar-info rd-navbar-collapse">
                  <article class="info-modern">
                    <div class="info-modern-icon fa-phone"></div><a class="info-modern-link" href="#">800-2345-6789</a>
                  </article>
                  <p>Call us now to get a free business consultation from our experts!</p>
                </div>
              </div>
            </div>
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <div class="rd-navbar-nav-wrap">
                  <ul class="rd-navbar-nav">
                    <li class="rd-nav-item"><a class="rd-nav-link" href="index.html">Home</a>
                    </li>
                    <li class="rd-nav-item active"><a class="rd-nav-link" href="about.html">About</a>
                      <ul class="rd-menu rd-navbar-dropdown">
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Who We Are</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Our History</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Our Services</a>
                          <ul class="rd-menu rd-navbar-dropdown">
                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Business Consulting</a>
                            </li>
                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Cash Management</a>
                            </li>
                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Tax Advisory</a>
                            </li>
                          </ul>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Testimonials</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Our Team</a>
                        </li>
                        <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">News</a>
                        </li>
                      </ul>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="typography.html">Typography</a>
                    </li>
                    <li class="rd-nav-item"><a class="rd-nav-link" href="contacts.html">Contacts</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!--About-->
      <section class="section section-sm">
        <div class="container">
          <div class="row row-30">
            <div class="col-lg-6">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://player.vimeo.com/video/37582125" width="640" height="360" allowfullscreen=""></iframe>
              </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay=".05s">
              <h3>Quick facts</h3>
              <div class="row row-30">
                <div class="col-sm-6">
                  <ul class="list">
                    <li>
                      <h4>Name</h4>
                      <p>Business Company</p>
                    </li>
                    <li>
                      <h4>Founding date</h4>
                      <p>June 23, 1987</p>
                    </li>
                    <li>
                      <h4>Primary contacts</h4>
                      <p>Los Angeles, California</p>
                    </li>
                  </ul>
                </div>
                <div class="col-sm-6">
                  <h4>History</h4>
                  <ul>
                    <li>Lorem ipsum dolor sit 1997-1999 adipis</li>
                    <li>Pellentesque sed dolor  1995-1999</li>
                    <li>Aliquam congue nisl 2001-2005</li>
                    <li>Mauris accumsa vel diam 2006-2008</li>
                    <li>Sed in lacus ut 2008-2010 enim adipiscing</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <h3>Who we are</h3>
          <div class="row row-30">
            <div class="col-md-6">
              <h4>About us</h4>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatu. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Suspendisse commodo tempor sagittis!</p>
              <p>In justo est, sollicitudin eu scelerisque pretium, placerat eget elit. Praesent faucibus rutrum odio at rhoncus. Pellentesque vitae tortor id neque fermentum pretium.</p>
              <hr class="hr-40">
              <h4>What we offer</h4>
              <div class="row row-30">
                <div class="col-6 wow fadeInLeft" data-wow-delay=".05s"><img src="images/image-2-270x270.jpg" alt="" width="270" height="135"/>
                </div>
                <div class="col-6 wow fadeInLeft"><img src="images/image-3-270x270.jpg" alt="" width="270" height="135"/>
                </div>
              </div>
              <p>Nam justo elit, dictum id tempus a, ultricies tempus lacus. Nunc purus nibh; eleifend eget facilisis ac, sagittis non tortor. Vivamus eu enim a orci accumsan tincidunt ut ut elit. Vestibulum nisi orci, rutrum ac auctor non, viverra et magna?</p>
            </div>
            <div class="col-md-6">
              <h4>Our staff</h4>
              <div class="row row-30">
                <div class="col-6 col-sm-4 wow fadeInRight"><img class="img-responsive" src="images/image-4-170x170.jpg" alt="" width="170" height="85"/>
                </div>
                <div class="col-6 col-sm-4 wow fadeInRight" data-wow-delay=".05s"><img class="img-responsive" src="images/image-5-170x170.jpg" alt="" width="170" height="85"/>
                </div>
                <div class="col-6 col-sm-4 wow fadeInRight" data-wow-delay=".1s"><img class="img-responsive" src="images/image-6-170x170.jpg" alt="" width="170" height="85"/>
                </div>
                <div class="col-6 col-sm-4 wow fadeInRight"><img class="img-responsive" src="images/image-7-170x170.jpg" alt="" width="170" height="85"/>
                </div>
                <div class="col-6 col-sm-4 wow fadeInRight" data-wow-delay=".05s"><img class="img-responsive" src="images/image-8-170x170.jpg" alt="" width="170" height="85"/>
                </div>
                <div class="col-6 col-sm-4 wow fadeInRight" data-wow-delay=".1s"><img class="img-responsive" src="images/image-9-170x170.jpg" alt="" width="170" height="85"/>
                </div>
              </div>
              <p>Curabitur facilisis pellentesque pharetra. Donec justo urna, malesuada a viverra ac, pellentesque vitae nunc. Aenean ac leo eget nunc fringilla a non nulla! Nunc orci mi, venenatis quis ultrices vitae, congue non nibh. Nulla bibendum, justo eget ultrices.</p>
              <hr class="hr-40">
              <h4>Our advantages</h4>
              <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Suspendisse commodo tempor sagittis! In justo est, sollicitudin eu scelerisque pretium, placerat eget elit. Praesent faucibus rutrum odio at rhoncus. Pellentesque vitae tortor id neque fermentum pretium.</p>
            </div>
          </div>
        </div>
      </section>
      <!--Our awards-->
      <section class="section section-sm bg-primary text-center text-sm-left">
        <div class="container">
          <h3>Our awards</h3>
          <div class="row row-30 bordered">
            <div class="col-md-6 wow fadeInRight">
              <article class="box-minimal">
                <div class="unit unit-spacing-md flex-column flex-sm-row text-center text-sm-left">
                  <div class="unit-left">
                    <div class="box-minimal-icon fa-asterisk"></div>
                  </div>
                  <div class="unit-body">
                    <h4 class="box-minimal-title"><a href="#">Best Consulting Company 2019</a></h4>
                    <div class="box-minimal-text">Sed do eiusmod tempor incididunt ut labore et dolore magna. Suspendisse commodo tempor sagittis! In justo est sollicitudin.</div>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-6 wow fadeInRight" data-wow-delay=".05s">
              <article class="box-minimal">
                <div class="unit unit-spacing-md flex-column flex-sm-row text-center text-sm-left">
                  <div class="unit-left">
                    <div class="box-minimal-icon fa-asterisk"></div>
                  </div>
                  <div class="unit-body">
                    <h4 class="box-minimal-title"><a href="#">Best Management Solution 2018</a></h4>
                    <div class="box-minimal-text">Labore et dolore magna. Suspendisse commodo tempor sagittis! In justo est sollicitudin eu scelerisque pretium, placerat eget elit. </div>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-6 wow fadeInRight" data-wow-delay=".1s">
              <article class="box-minimal">
                <div class="unit unit-spacing-md flex-column flex-sm-row text-center text-sm-left">
                  <div class="unit-left">
                    <div class="box-minimal-icon fa-asterisk"></div>
                  </div>
                  <div class="unit-body">
                    <h4 class="box-minimal-title"><a href="#">Business Strategy of the Year</a></h4>
                    <div class="box-minimal-text">Pellentesque vitae tortor id neque fermentum pretium. Maecenas ac lacus ut neque rhoncus laoreet sed id tellus.</div>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-6 wow fadeInRight">
              <article class="box-minimal">
                <div class="unit unit-spacing-md flex-column flex-sm-row text-center text-sm-left">
                  <div class="unit-left">
                    <div class="box-minimal-icon fa-trophy"></div>
                  </div>
                  <div class="unit-body">
                    <h4 class="box-minimal-title"><a href="#">Marketing Campaign of the Year</a></h4>
                    <div class="box-minimal-text">Suspendisse commodo tempor sagittis! In justo est sollicitudin eu scelerisque pretium, placerat eget elit. Praesent faucibus rutrum.</div>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-6 wow fadeInRight" data-wow-delay=".05s">
              <article class="box-minimal">
                <div class="unit unit-spacing-md flex-column flex-sm-row text-center text-sm-left">
                  <div class="unit-left">
                    <div class="box-minimal-icon fa-asterisk"></div>
                  </div>
                  <div class="unit-body">
                    <h4 class="box-minimal-title"><a href="#">CEO of the Year</a></h4>
                    <div class="box-minimal-text">Maecenas ac lacus ut neque rhoncus laoreet sed id tellus. Donec justo tellus, tincidunt vitae pellentesque nec, pharetra a orci. </div>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-6 wow fadeInRight" data-wow-delay=".1s">
              <article class="box-minimal">
                <div class="unit unit-spacing-md flex-column flex-sm-row text-center text-sm-left">
                  <div class="unit-left">
                    <div class="box-minimal-icon fa-trophy"></div>
                  </div>
                  <div class="unit-body">
                    <h4 class="box-minimal-title"><a href="#">Industry Leader 2017</a></h4>
                    <div class="box-minimal-text">In justo est sollicitudin eu scelerisque pretium, placerat eget elit. Praesent faucibus rutrum odio at rhoncus.</div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
      <!--About-->
      <section class="section section-md">
        <div class="container">
          <div class="row row-30">
            <div class="col-sm-6 col-md-4 wow fadeInUp">
              <h3>Duties</h3>
              <p>Aenean ac leo eget nunc fringilla a non nulla! Nunc orci mi, venenatis quis ultrices vitae, congue non nibh. Nulla bibendum, justo eget ultrices vestibulum, erat tortor venenatis risus, sit amet cursus dui augue a arcu.</p>
            </div>
            <div class="col-sm-6 col-md-4 wow fadeInUp" data-wow-delay=".05s">
              <h3>Skills</h3>
              <p>Nunc orci mi, venenatis quis ultrices vitae, congue non nibh. Nulla bibendum, justo eget ultrices vestibulum, erat tortor venenatis risus, sit amet cursus dui augue a arcu. Quisque mauris risus, gravida a molestie eu, dictum.</p>
            </div>
            <div class="col-sm-6 col-md-4 wow fadeInUp" data-wow-delay=".1s">
              <h3>Opportunities</h3>
              <p>Quisque mauris risus, gravida a molestie eu, dictum ac augue. Integer sodales tempor lectus; sit amet dictum metus pharetra nec. Fusce bibendum dapibus pretium. Nunc eu sem vitae lacus laoreet elementum.</p>
            </div>
          </div>
        </div>
      </section><a class="section section-banner" href="https://www.templatemonster.com/intense-multipurpose-html-template.html" style="background-image: url(images/banner/background-03-1920x310.jpg); background-image: -webkit-image-set( url(images/banner/background-03-1920x310.jpg) 1x, url(images/banner/background-03-3840x620.jpg) 2x )"><img src="images/banner/foreground-03-1600x310.png" srcset="images/banner/foreground-03-1600x310.png 1x, images/banner/foreground-03-3200x620.png 2x" alt="" width="1600" height="310"></a>
      <footer class="section footer-classic">
        <div class="container">
          <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span>Business Company</span><span>.&nbsp;</span><a href="#">Privacy Policy</a>. Design&nbsp;by&nbsp;<a href="https://www.templatemonster.com/">Templatemonster</a></p>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>