<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="POST">
    <div class="col-md-2">
        <div class="demo-section k-content">
            <label><i class="fa fa-calendar"></i>Empresa
            </label>
            <input type="text" name="empresa" id="datepicker" class="form-control"
                   value="{{ empresa }}"/>
        </div>
    </div>
    <br>
    <br>
    <div class="col-md-2">
        <div class="demo-section k-content">
            <button type="submit" class="btn btn-warning btn-sm fa fa-floppy-o"> Añadir</button>
        </div>
    </div>
    <br>
</form>


</body>
</html>