
{% block content %}
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Estado R</title>
        <link rel=stylesheet href="/static/css/pdf.css" type="text/css" media=screen>
    </head>
    <body>
    <header class="clearfix">
        <img src="/static/images/xeeffy_logo_index.png" width="20%" align="top">
        <h1>{{ desc_role }}</h1>
        <div id="company" class="clearfix">
            <div>XEEFFY E. RESULTADO</div>
            <div>Casa Matriz • ,<br/> El Juncal 0240, Quilicura • Chile</div>
            <div>+56988295769</div>
            <div><a href="mailto:company@example.com">aherrera@xeeffy.cl</a></div>
        </div>
        <div id="project">
            <div><span>ENTIDAD</span>{{ entidad }} </div>
            <div><span>FECHA</span>{{ hoy }}</div>
        </div>
    </header>
    <main>
        <table>
            <thead>
            <tr>
                {% for c in columnas %}
                    <th>{{ c }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for a in d %}
                <tr>
                    {% for c in a %}
                    <td class="service">{{ c }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        <div id="notices">
            <div>NOTICE:</div>
            <div class="notice">XEEFFY propiedad privada y con derechos reservados 2019.</div>
        </div>
    </main>
    </body>
    </html>
{% endblock %}