<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <title>xEEFFy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:400,500">
    <link rel="stylesheet" href="/static/css/style.css">
    <style>.ie-panel {
        display: none;
        background: #212121;
        padding: 10px 0;
        box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
        clear: both;
        text-align: center;
        position: relative;
        z-index: 1;
    }

    html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {
        display: block;
    }

    .disabled {
        pointer-events: none;
    / / This makes it not clickable opacity: 0.6;
    / / This grays it out to look disabled
    }</style>
</head>
<body>
<div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img
        src="/static/images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820"
        alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a>
</div>
<div class="preloader">
    <div class="preloader-body">
        <div class="cssload-container">
            <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Loading...</p>
    </div>
</div>
<div class="page">
    <header class="section page-header">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
                 data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed"
                 data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed"
                 data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static"
                 data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static"
                 data-lg-stick-up-offset="170px" data-xl-stick-up-offset="170px" data-xxl-stick-up-offset="170px"
                 data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1"
                     data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
                <div class="rd-navbar-aside-outer">
                    <div class="rd-navbar-aside">
                        <!--RD Navbar Panel-->
                        <div class="rd-navbar-panel">
                            <!--RD Navbar Brand-->
                            <div class="rd-navbar-brand">
                                <!--Brand--><a class="brand" href="/login"><img class="brand-logo-dark"
                                                                                src="/static/images/xeeffy_logo_index.jpeg"
                                                                                alt="top" align="top" width="200"
                                                                                height="300"/></a>
                            </div>
                        </div>
                        <br>
                        <div class="rd-navbar-info rd-navbar-collapse">
                            <article class="info-modern">
                                <div class="info-modern-icon fa-phone"></div>
                                <a class="info-modern-link" href="#">+56988295769</a>
                            </article>
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    <div class="notification is-danger">
                                        {{ messages[0] }}..
                                    </div>
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </div>

                <div class="rd-navbar-main-outer">
                    <div class="rd-navbar-main">
                        <div class="rd-navbar-nav-wrap">
                            <ul class="rd-navbar-nav">
                                <li class="rd-nav-item active"><a class="rd-nav-link" href="login">Iniciar
                                    Sesion</a>
                                </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="index">Sistema</a>
                                        <ul class="rd-menu rd-navbar-dropdown">
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="entidades">Entidades</a>
                                            </li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                                            href="roles">Roles</a>
                                            </li>
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Documentos
                                            </a>
                                                <ul class="rd-menu rd-navbar-dropdown">
                                                    <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                                                    href="/documentos">Documentos
                                                    </a>
                                                    </li>
                                                    <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                                                    href="/docEmpresa">DocxEmpresa
                                                    </a>
                                                    </li>
                                                    {#                                                <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="/ndocumento">Nuevo Documento#}
                                                    {#                                                    Management</a>#}
                                                    {#                                                </li>#}
                                                    {#                                                <li class="rd-dropdown-item"><a class="rd-dropdown-link" href="#">Tax#}
                                                    {#                                                    Advisory</a>#}
                                                    {#                                                </li>#}
                                                </ul>
                                            </li>

                                        </ul>
                                    </li>


                                <li class="rd-nav-item active"><a class="rd-nav-link" href="/logout">Cerrar Sesion</a>
                                </li>
                                <li></li>
                                <li class="rd-nav-item"><a class="rd-nav-link disabled"
                                                           href="">Usuario: {{ session['username'] }}</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--Swiper-->
    <section class="section swiper-container swiper-slider swiper-slider-1" data-loop="true" data-autoplay="false"
             data-simulate-touch="false" data-slide-effect="fade">
        <div class="swiper-wrapper text-center text-lg-left">
            <div class="swiper-slide" data-slide-bg="/static/images/imagenPrincipal.png">
                <div class="swiper-slide-caption">
                    <div class="container">
                        <div class="row justify-content-end">
                            <div class="col-lg-7 col-xl-6">
                                <h1 class="text-primary" data-caption-animate="fadeIn" data-caption-delay="100"></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" data-slide-bg="static/images/imagenPrincipal2.png">
                <div class="swiper-slide-caption">
                    <div class="container">
                        <div class="row justify-content-end">
                            <div class="col-lg-7 col-xl-6">
                                <h1 class="text-primary" data-caption-animate="fadeIn" data-caption-delay="100">Las
                                    mejores estrategias para tu negocio</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" data-slide-bg="/static/images/imagenPrincipal3.png">
                <div class="swiper-slide-caption">
                    <div class="container">
                        <div class="row justify-content-end">
                            <div class="col-lg-7 col-xl-6">
                                <h1 class="text-primary" data-caption-animate="fadeIn" data-caption-delay="100">Ingresa
                                    al Sistema</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Swiper Pagination-->
        <div class="swiper-pagination"></div>
        <!--Swiper Navigation-->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </section>
    <!--About-->
    <section class="section section-lg section-inset-1 position-relative index-1">
        <div class="container offset-negative-1">
            <div class="row no-gutters">
                <div class="col-sm-6 col-lg-3 wow fadeInUp">
                    <article class="box-default box-default-3">
                        <div class="box-default-icon fa-globe"></div>
                        <h4 class="box-default-title">Global <br>xEEFFy</h4>
                        <div class="box-default-text">Ingrersa a nuestro sistema
                        </div>
                        <a class="box-default-link fa-chevron-right" href="/docEmpresa"></a>
                    </article>
                </div>
                <div class="col-sm-6 col-lg-3 wow fadeInUp" data-wow-delay=".05s">
                    <article class="box-default box-default-2">
                        <div class="box-default-icon fa-lightbulb-o"></div>
                        <h4 class="box-default-title">Iniciar Sesión <br>Ingresa al sistema</h4>
                        <div class="box-default-text">Financiero
                        </div>
                        <a class="box-default-link fa-chevron-right" href="/login"></a>
                    </article>
                </div>
                <div class="col-sm-6 col-lg-3 wow fadeInUp" data-wow-delay=".1s">
                    <article class="box-default box-default-1">
                        <div class="box-default-icon fa-cog"></div>
                        <h4 class="box-default-title">Reliable <br>solutions</h4>
                        <div class="box-default-text">Nunquam convertam exemplar. Magnum exemplar diligenter
                            attrahendams parma est. Apolloniates undas, tanquam pius mensa. Triticums.
                        </div>
                        <a class="box-default-link fa-chevron-right" href="#"></a>
                    </article>
                </div>
                <div class="col-sm-6 col-lg-3 wow fadeInUp" data-wow-delay=".15s">
                    <article class="box-default">
                        <div class="box-default-icon fa-briefcase"></div>
                        <h4 class="box-default-title">Professional <br>management</h4>
                        <div class="box-default-text">Ubi est lotus usus? Clemens, grandis castors sensim talem de pius,
                            fortis lumen. Scutums sunt historias de pius gallus. Cum compater messis, omnes rumores
                            vitare.
                        </div>
                        <a class="box-default-link fa-chevron-right" href="#"></a>
                    </article>
                </div>
            </div>
            <div class="row row-30 bordered">
                <div class="col-md-6 wow fadeInRight">
                    <article class="box-minimal">
                        <div class="unit unit-spacing-md flex-column flex-sm-row text-center text-sm-left">
                            <div class="unit-left">
                                <div class="box-minimal-icon fa-comments"></div>
                            </div>
                            <div class="unit-body">
                                <h4 class="box-minimal-title"><a href="#">Consultas Gratis</a></h4>
                                <div class="box-minimal-text">Lorem ipsum dolor sit amet conse ctetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolor.
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6 wow fadeInRight" data-wow-delay=".05s">
                    <article class="box-minimal">
                        <div class="unit unit-spacing-md flex-column flex-sm-row text-center text-sm-left">
                            <div class="unit-left">
                                <div class="box-minimal-icon fa-group"></div>
                            </div>
                            <div class="unit-body">
                                <h4 class="box-minimal-title"><a href="#">Equipo calificado</a></h4>
                                <div class="box-minimal-text">Barbatus, flavum genetrixs tandem amor de salvus, festus
                                    vortex. Audax, peritus spatiis saepe aperto de.
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6 wow fadeInRight" data-wow-delay=".1s">
                    <article class="box-minimal">
                        <div class="unit unit-spacing-md flex-column flex-sm-row text-center text-sm-left">
                            <div class="unit-left">
                                <div class="box-minimal-icon fa-calendar-o"></div>
                            </div>
                            <div class="unit-body">
                                <h4 class="box-minimal-title"><a href="#">Servicios extensos</a></h4>
                                <div class="box-minimal-text">Fidess sunt ignigenas de secundus zirbus. A falsis, bubo
                                    fortis vita. Festus particula unus quaestios palus est.
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6 wow fadeInRight" data-wow-delay=".15s">
                    <article class="box-minimal">
                        <div class="unit unit-spacing-md flex-column flex-sm-row text-center text-sm-left">
                            <div class="unit-left">
                                <div class="box-minimal-icon fa-thumbs-up"></div>
                            </div>
                            <div class="unit-body">
                                <h4 class="box-minimal-title"><a href="#">99% de clientes satisfechos</a></h4>
                                <div class="box-minimal-text">Amicitia moris, tanquam brevis mons. Sunt sensoremes
                                    experientia barbatus, castus cannabises. Varius palus.
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row row-30">
                <div class="col-md-6 col-lg-4 wow fadeInUp">
                    <h3>Acerca de</h3><img src="/static/images/acercade.png" alt="" width="370" height="108"/>
                    <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatu.<br>Lorem ipsum dolor sit amet conse
                        ctetur adipisicing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet conse
                        ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay=".05s">
                    <h3>Servicios</h3>
                    <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <ul class="list-marked-1">
                        <li><a href="#">Cash Management</a></li>
                        <li><a href="#">Process Development</a></li>
                        <li><a href="#">HR Management</a></li>
                        <li><a href="#">Marketing Strategies</a></li>
                        <li><a href="#">Cash Flow Management</a></li>
                        <li><a href="#">Business Strategies</a></li>
                        <li><a href="#">CFO Services</a></li>
                        <li><a href="#">Business Plans</a></li>
                        <li><a href="#">Tax Planning Strategies</a></li>
                    </ul>

                </div>
                <div class="col-lg-4">
                    <div class="row row-30">
                        <div class="col-md-6 col-lg-12 wow fadeInUp" data-wow-delay=".1s">
                            <div class="info">
                                <div class="info-header">
                                    <div class="icon fa-comment"></div>
                                    <h3>Help center</h3>
                                </div>
                                <div class="info-item">
                                    <h4 class="info-title">Profesionales:</h4>
                                    <ul class="info-list">
                                        <li>Lunes-Viernes: 9am-7pm</li>
                                    </ul>
                                </div>
                                <div class="info-item">
                                    <h4 class="info-title">Numero Soporte:</h4><a class="info-link" href="tel:#">+56944185770</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-12 wow fadeInUp" data-wow-delay=".1s">
                            <div class="owl-carousel owl-style-1" data-items="1" data-dots="true" data-autoplay="true">
                                <!-- Quote-->
                                <article class="quote">
                                    <div class="media"><img class="quote-image" src="/static/images/user-1-80x80.jpg"
                                                            alt="" width="80" height="40"/>
                                        <div class="media-body">
                                            <div class="quote-text">
                                                <p class="q">Lorem ipsum dolor sit amet conse ctetur adipisicing elit,
                                                    sed do eiusmod tempor incididunt ut labore.</p>
                                            </div>
                                            <a class="quote-author" href="#">Richard Curtis</a>
                                        </div>
                                    </div>
                                </article>
                                <!-- Quote-->
                                <article class="quote">
                                    <div class="media"><img class="quote-image" src="/static/images/user-2-80x80.jpg"
                                                            alt="" width="80" height="40"/>
                                        <div class="media-body">
                                            <div class="quote-text">
                                                <p class="q">Noster, regius omnias nunquam magicae de fidelis, azureus
                                                    secula. Accelerare satis ducunt ad magnum abactus.</p>
                                            </div>
                                            <a class="quote-author" href="#">Anna Ramirez</a>
                                        </div>
                                    </div>
                                </article>
                                <!-- Quote-->
                                <article class="quote">
                                    <div class="media"><img class="quote-image" src="/static/images/user-3-80x80.jpg"
                                                            alt="" width="80" height="40"/>
                                        <div class="media-body">
                                            <div class="quote-text">
                                                <p class="q">Nunquam acquirere gabalium. Mori satis ducunt ad teres
                                                    stella. Studere satis ducunt ad brevis gluten.</p>
                                            </div>
                                            <a class="quote-author" href="#">Eva Adams</a>
                                        </div>
                                    </div>
                                </article>
                                <!-- Quote-->
                                <article class="quote">
                                    <div class="media"><img class="quote-image" src="/static/images/user-4-80x80.jpg"
                                                            alt="" width="80" height="40"/>
                                        <div class="media-body">
                                            <div class="quote-text">
                                                <p class="q">A falsis, amor brevis victrix. Cum tabes credere, omnes
                                                    particulaes talem barbatus, audax hydraes.</p>
                                            </div>
                                            <a class="quote-author" href="#">Walter Evans</a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <a class="section section-banner" href="https://www.templatemonster.com/intense-multipurpose-html-template.html"
       style="background-image: url(images/banner/background-03-1920x310.jpg); background-image: -webkit-image-set( url(images/banner/background-03-1920x310.jpg) 1x, url(images/banner/background-03-3840x620.jpg) 2x )"><img
            src="/static/images/banner/foreground-03-1600x310.png"
            srcset="/static/images/banner/foreground-03-1600x310.png 1x, /static/images/banner/foreground-03-3200x620.png 2x"
            alt="" width="1600" height="310"></a>
    <!--Contacts-->
    <section class="section section-lg bg-gray-700">
        <div class="container">
            <div class="row row-30">
                <div class="col-lg-4">
                    <div class="row row-30">
                        <div class="col-sm-6 col-lg-12 wow fadeInRight">
                            <article class="info-classic align-items-center">
                                <div class="unit unit-spacing-md align-items-center flex-column flex-md-row text-center text-md-left">
                                    <div class="unit-left">
                                        <div class="info-classic-icon fa-map-marker"></div>
                                    </div>
                                    <div class="unit-body"><a class="info-classic-link"
                                                              href="https://www.google.cl/maps/place/El+Juncal+240,+Quilicura,+Regi%C3%B3n+Metropolitana/@-33.3348172,-70.7309008,17z/data=!3m1!4b1!4m5!3m4!1s0x9662c0af53546ac7:0xbdbc4206770a1f71!8m2!3d-33.3348172!4d-70.7287121">
                                        El Juncal 0240, Quilicura • Chile</a></div>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-lg-12 wow fadeInRight" data-wow-delay=".05s">
                            <article class="info-classic align-items-center">
                                <div class="unit unit-spacing-md align-items-center flex-column flex-md-row text-center text-md-left">
                                    <div class="unit-left">
                                        <div class="info-classic-icon fa-envelope"></div>
                                    </div>
                                    <div class="unit-body"><a class="info-classic-link" href="mailto:#">aherrera@steelplus.cl</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row row-30">
                        <div class="col-sm-6 col-lg-12 wow fadeInRight" data-wow-delay=".1s">
                            <article class="info-classic align-items-center info-classic-2">
                                <div class="unit unit-spacing-md align-items-center flex-column flex-md-row text-center text-md-left">
                                    <div class="unit-left">
                                        <div class="info-classic-icon fa-phone"></div>
                                    </div>
                                    <div class="unit-body"><a class="info-classic-link" href="tel:#">+56988295769</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-lg-12 wow fadeInRight">
                            <article class="info-classic align-items-center info-classic-2">
                                <div class="unit unit-spacing-md align-items-center flex-column flex-md-row text-center text-md-left">
                                    <div class="unit-left">
                                        <div class="info-classic-icon fa-fax"></div>
                                    </div>
                                    <div class="unit-body"><a class="info-classic-link" href="tel:#">+56988295769</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row row-30">
                        <div class="col-sm-6 col-lg-12 wow fadeInRight" data-wow-delay=".05s">
                            <article class="info-classic align-items-center">
                                <div class="unit unit-spacing-md align-items-center flex-column flex-md-row text-center text-md-left">
                                    <div class="unit-left">
                                        <div class="info-classic-icon fa-facebook"></div>
                                    </div>
                                    <div class="unit-body"><a class="info-classic-link" href="#">Follow on Facebook</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-sm-6 col-lg-12 wow fadeInRight" data-wow-delay=".1s">
                            <article class="info-classic align-items-center">
                                <div class="unit unit-spacing-md align-items-center flex-column flex-md-row text-center text-md-left">
                                    <div class="unit-left">
                                        <div class="info-classic-icon fa-twitter"></div>
                                    </div>
                                    <div class="unit-body"><a class="info-classic-link" href="#">Follow on Twitter</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="section footer-classic">
        <div class="container">
            <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span>xEEFFy Company</span><span>.&nbsp;</span><a
                    href="#">Privacy Policy</a>. Design&nbsp;by&nbsp;<a href="https://www.xeeffy.com/">XEEFFY</a></p>
        </div>
    </footer>
</div>
<div class="snackbars" id="form-output-global"></div>
<script src="/static/js/core.min.js"></script>
<script src="/static/js/script.js"></script>
</body>
</html>